<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttsource.mapper.UserMapper">

    <resultMap id="userInfo" type="com.ttsource.model.user.UserInfoDTO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nick_name" property="nickName"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="role" property="role"/>
        <result column="state" property="state"/>
        <result column="img" property="img"/>
        <result column="description" property="description"/>
        <result column="insert_time" property="insertTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="id" column="id" autoMapping="true">
            <result column="charge" property="charge"/>
            <result column="talk_total" property="talkTotal"/>
        </association>
    </resultMap>

    <!-- 添加用户-->
    <insert id="createUser" useGeneratedKeys="true" keyProperty="userId"
        parameterType="com.ttsource.model.user.UserDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="userId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into admin_user
        (
        <trim prefix="" prefixOverrides=",">
            <if test="nickname != null">
                , nick_name
            </if>
            <if test="logged != null">
                , is_login
            </if>
            <if test="age != null">
                , age
            </if>
            <if test="height != null">
                , height
            </if>
            <if test="sex != null">
                , sex
            </if>
            <if test="state != null">
                , state
            </if>
            <if test="gmtCreate != null">
                , gmt_create
            </if>
            <if test="gmtModified != null">
                , gmt_modified
            </if>
        </trim>
        )
        values
        (
        <trim prefix="" prefixOverrides=",">
            <if test="nickname != null">
                , #{nickname}
            </if>
            <if test="logged != null">
                , #{logged}
            </if>
            <if test="age != null">
                , #{age}
            </if>
            <if test="height != null">
                , #{height}
            </if>
            <if test="sex != null">
                , #{sex}
            </if>
            <if test="state != null">
                , #{state}
            </if>
            <if test="gmtCreate != null">
                , #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                , #{gmtModified}
            </if>
        </trim>
        )
    </insert>

    <delete id="deleteUserByIdOrUsername">
        delete from admin_user
        <trim prefix="where" prefixOverrides="AND |OR">
            <if test="userId != null">
                AND id = #{userId}
            </if>
            <if test="username != null">
                OR username = #{username}
            </if>
        </trim>
    </delete>

    <!-- 修改用户基本信息,不包括密码，手机号码, 邮箱-->
    <update id="updateUserBasicInfo" parameterType="com.ttsource.model.user.UserDO">
        update admin_user
        <trim prefix="set" prefixOverrides=",">
            <if test="nickname != null">
                , nick_name = #{nickname}
            </if>
            <if test="age != null">
                , age = #{age}
            </if>
            <if test="height != null">
                , height = #{height}
            </if>
            <if test="sex != null">
                , sex = #{sex}
            </if>
            <if test="gmtModified != null">
                , gmt_modified = #{gmtModified}
            </if>
        </trim>
        where id = #{userId}
    </update>

    <update id="updatePassword">
        update admin_user set password = #{password} where id = #{userId}
    </update>

    <update id="updateMobile">
        update admin_user set mobile = #{mobile} where id = #{userId}
    </update>

    <update id="updateEmail">
        update admin_user set email = #{email} where id = #{userId}
    </update>

    <update id="updateUserLoginState">
        update admin_user set is_login = #{loginState}, gmt_login = #{gmtLogin} where id = #{userId}
    </update>

    <select id="findUserById" resultType="com.ttsource.model.user.UserDO">
        select
        id as userId,
        nick_name as nickname,
        is_login as logged,
        age,
        height,
        sex,
        state,
        gmt_login as gmtLogin,
        gmt_create as gmtCreate,
        gmt_modified as gmtModified
        from admin_user where id = #{userId}
    </select>
    
    <select id="findUserInfoByIdentifier" resultType="com.ttsource.model.user.UserInfoDTO">
        SELECT
        admin_user.id as userId,
        admin_user.nick_name as nickname,
        admin_user.sex,
        admin_user.age,
        admin_user.state,
        admin_user.is_login as logged,
        admin_user_profile.avatar,
        admin_user_profile.address,
        admin_user_profile.mobile,
        admin_user_profile.email,
        admin_user_profile.description,
        admin_user_profile.city,
        admin_user_profile.constellation,
        admin_user_profile.career,
        admin_anchor.charge,
        admin_anchor.talk_total as talkTotal
        FROM admin_user_auth
        JOIN admin_user on admin_user_auth.user_id = admin_user.id
        LEFT JOIN admin_user_profile on admin_user_auth.user_id = admin_user_profile.user_id
        LEFT JOIN admin_anchor on admin_user.id = admin_anchor.user_id
        where admin_user_auth.identifier = #{identifier}
    </select>

    <select id="listUserInfo" resultType="com.ttsource.model.user.UserInfoDTO">
        SELECT
        admin_user.id as userId,
        admin_user.nick_name as nickname,
        admin_user.sex,
        admin_user.age,
        admin_user.state,
        admin_user.is_login as logged,
        admin_user_profile.avatar,
        admin_user_profile.address,
        admin_user_profile.mobile,
        admin_user_profile.email,
        admin_user_profile.description,
        admin_user_profile.city,
        admin_user_profile.constellation,
        admin_user_profile.career,
        admin_anchor.charge,
        admin_anchor.talk_total as talkTotal
        FROM admin_user_auth
        JOIN admin_user on admin_user_auth.user_id = admin_user.id
        LEFT JOIN admin_user_profile on admin_user_auth.user_id = admin_user_profile.user_id
        LEFT JOIN admin_anchor on admin_user.id = admin_anchor.user_id
    </select>

    <select id="findUserDetailById" resultType="com.ttsource.model.user.UserDetailDTO">
        SELECT
        admin_user.id as userId,
        admin_user.nick_name as nickname,
        admin_user.sex,
        admin_user.age,
        admin_user.state,
        admin_user.is_login as logged,
        admin_user_profile.avatar,
        admin_user_profile.address,
        admin_user_profile.mobile,
        admin_user_profile.email,
        admin_user_profile.description,
        admin_user_profile.city,
        admin_user_profile.constellation,
        admin_user_profile.career,
        admin_anchor.charge,
        admin_anchor.talk_total as talkTotal
        FROM admin_user_auth
        JOIN admin_user on admin_user_auth.user_id = admin_user.id
        LEFT JOIN admin_user_profile on admin_user_auth.user_id = admin_user_profile.user_id
        LEFT JOIN admin_anchor on admin_user.id = admin_anchor.user_id
        where admin_user_auth.user_id = #{userId}
    </select>
</mapper>